Repository slimmekeuzesinhuis/slimmekeuzesinhuis, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, chore, feature, refactor

Update package.json
  package.json
Labels: chore

Create tailwind.config.js
  tailwind.config.js
Labels: none

Create postcss.config.js
  postcss.config.js
Labels: none

Create globals.css
  app/globals.css
Labels: feature, refactor

Update layout.js
  app/layout.js
Labels: feature, refactor

Update package.json
  package.json
Labels: chore

Feature/UI base (#22)
  app/globals.css
  app/layout.js
  package.json
  postcss.config.js
  tailwind.config.js
Labels: chore, feature, refactor

Update layout.js
  app/layout.js
Labels: feature, refactor

Update layout.js (#24)
  app/layout.js
Labels: feature, refactor

.github/labeler.yml:

docs:
  - "**/*.md"
  - "docs/**"

chore:
  - ".github/**"
  - "tsconfig.json"
  - "package.json"

feature:
  - "app/**"

refactor:
  - "app/**"
  - "src/**"
